head
    block meta
        meta(
            charset='utf-8'
        )
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'
        )

    block title
        title Statement Maker

    block css
        link(
            href='css/style.css'
            rel='stylesheet'
        )
