mixin monthsBadges(item)
			a.badge(class=item.class href=item.href)
				.badge__icon
				.badge__text
					span= item.monthText
					span месяцев

mixin breadcrumbs(modifier, item)
	ul.breadcrumbs(class=modifier)
		each list in item
			li.breadcrumbs__item
				a.breadcrumbs__link(href=list.href)= list.text
