mixin ballons(item)
	.balloons__wrap(class=item.wrapClass)
		a.balloons__item(href="#" class=item.balloonClass)
			.balloons__item-wrap
				.balloons__item-img(class=item.imgClass)
				.balloons__item-text(class=item.descrClass)
					span!= item.descr
		.balloons__string(class=item.stringClass)

mixin breadcrumbs(item)
	ul.catalog-header__breadcrumbs
		each list in item
			li.catalog-header__breadcrumbs-item
				a.catalog-header__breadcrumbs-link(href=list.href)= list.text
